.navbar {
  padding: 4rem 0;
  list-style: none;
  margin-bottom: 8rem;

  &__inner {
    max-width: 64rem;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0 2rem 0;
  }

  &__link {
    font-size: 1.7rem;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
