table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 3rem 0;
}

thead {
  color: rgba(0, 0, 0, 0.6);
}

th {
  font-weight: bold;
}

th,
td {
  padding: 0.5rem;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

table > tbody > tr:nth-child(2n + 1) {
  background-color: rgba(242, 242, 242, 0.5);
}
