.fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;

  &--fast {
    animation-delay: 0s;
  }

  &--med {
    animation-delay: 0.2s;
  }

  &--slow {
    animation-delay: 0.4s;
  }
}
