---
layout: base.njk
eleventyComputed:
  socialImage: https://leogenerali.com{{ page.filePathStem) }}/og-image.png
---

<article>
  <h1 class='text-indigo-400 text-3xl font-semibold'>{{ title }}</h1>
  <p class='text-gray-600 text-sm font-semibold'>Published {{ date | formatDate('MMMM d, YYYY') }}</p>
  <section class='post mt-4'>
    {{ content | safe }}
  </section>
</article>