---
layout: base.njk
---

<article class="post">
  <div class="post__info">
    <h1 class="post__title">{{ title }}</h1>
    <p class="post__date">Published {{ date | formatDate}}</p>
    <section>
      {{ content | safe }}
    </section>
  </div>
</article>