<!DOCTYPE html>
html(lang="en")
  include _partials/shared/head
  body
    include _partials/shared/navbar
    main.container
      article.post.fade-in.fade-in--fast
        h1.post__title !{pageTitle}
        p.post__date Published !{fullDate}
        section.fade-in.fade-in--med !{content}
    include _partials/shared/ga
