.intro {
  &__header {
    color: white;
    line-height: 1.75;
    margin-bottom: 8rem;
    background-image: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      -webkit-background-clip: text;
      -webkit-text-fill-color: #fff;
      background-clip: text;
      margin-right: 0.5rem;
    }
  }

  &__text {
    margin-bottom: 8rem;
  }
}

.intro-project {
  &__title {
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.85);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: #818080;
    padding: 0 0 0 20px;
    border-left: 0.5rem solid;
  }

  &__links {
    margin-top: 1rem;
    font-size: 1.8rem;

    a {
      margin-right: 1rem;
    }
  }
}
