.post {
  &__info {
    margin-bottom: 1.5rem;
  }

  &__date {
    font-size: 1.6rem;
    color: rgb(153, 153, 153);
  }

  hr {
    margin-top: 10rem;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;

    li {
      margin-bottom: 1rem;
    }
  }
}

.footnotes {
  &__item {
    counter-increment: list;

    &:before {
      content: counter(list) '.';
      color: $color-primary;
      display: inline-block;
      width: 2.5rem;
    }
  }

  &__back {
    font-size: 12px;

    &:after {
      content: none;
    }
  }
}

.spoiler {
  position: relative;
  margin-bottom: 4rem;
  margin-top: 4rem;

  &:hover {
    .spoiler__content {
      filter: blur(0.5rem);

      &--revealed {
        filter: none;
      }
    }
  }

  &__reveal {
    position: absolute;
    z-index: 1;
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: $color-primary;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: 0.1s;

    &:hover {
      transform: translateY(-0.2rem);
      background-color: $color-primary-dark;
    }
  }

  &__content {
    transition: 0.1s;
    filter: blur(1rem);

    &--revealed {
      filter: none;
    }
  }
}