$color-primary-light: #94d0ff;
$color-primary: #8795e8;
$color-primary-dark: #6c77b9;
$color-secondary: #ff6ad5;

$max-width: 70rem;

$color-gradient: linear-gradient(
  -60deg,
  $color-secondary,
  #c774e8,
  #ad8cff,
  $color-primary,
  $color-primary-light
);
