.reveal {
  animation-name: reveal;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(var(--animation-reveal-start-pos));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
