---
layout: base.njk
---

<section class='mb-20'>
  <h1 class="intro text-white mb-24 text-4xl font-extrabold reveal leading-tight" style='--animation-delay: 0.2s; --animation-reveal-start-pos: -1rem; line-height: 1.1111111;'>
    Hey there! <span class='mr-1' role="img" aria-label="Wave emoji">👋 </span> I'm Leo, a software engineer living and working in New York City.
  </h1>
  <div class='flow reveal' style='--animation-delay: 0.5s'>
    <p>Getting in touch with me is easy! You can find me on {% link "Twitter", "https://twitter.com/itsLeeOhGee" %}, {% link "LinkedIn", "https://www.linkedin.com/in/leogenerali/"%}, or {% link "Github", "https://github.com/leo-generali" %}. To say hello,
      you can {% link "reach me by email", "mailto:me@leogenerali.com?Subject=Hello!" %}.</p>
    <p>If I'm not coding I'm probably out running. If that sounds like your type of thing, you can {% link "check out my latest runs", "https://www.strava.com/athletes/11876587"%} on Strava.</p>
    <p>When I find myself with a spare minute or two I enjoy working on personal projects. I'll typically try to solve an issue I'm running into. I learn a thing or two in the process and maybe solve a problem for others too. Here are some of the cooler things I've made:</p>
  </div>
</section>
<section class="reveal" style='--animation-delay: 0.7s'>
  {% for project in collections.projects %}
    <div>
      <p class="text-xl font-bold mb-4">{{ project.data.name }}</p>
      <div class='flow border-l-4 border-gray-500 pl-4'>
        <p>{{ project.data.description }}</p>
      </div>
      <div class="mt-4">
        {% if project.templateContent %}
          {% link "Project Recape", project.url %}
        {% endif %}
        {% link "Live", project.data.liveUrl %} | {% link "Github", project.data.githubUrl %}
      </div>
    </div>
  {% endfor %}
</section>
