---
layout: base.njk
isNotIndexed: true
---

<section>
  <h1>Shortcuts I Use in Coding</h1>
  <ul>
    <li>
      <strong>Github Difference Table</strong>
      <pre>#### Screenshot Changes:
| Before | After |
|--------|-------|
|        |       |</pre>
    </li>
  </ul>
</section>

    