---
pagination:
  data: collections.writing
  size: 1
  alias: post

published: false
permalink: /{{ post.url }}/og-image/index.html 
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{{ css | safe }}</style>
    <meta name="robots" content="noindex,nofollow">
</head>
<body style='width: 600px; height: 315px;'>
    <figure class='bg-white w-full h-full border-8 border-indigo-400 flex justify-center items-center flex-col p-8 text-center'>
      <h1 class="text-4xl font-semibold">{{ post.data.title }}</h1>
      <p class='text-sm'>a post on <a href="https://annualbeta.com">leogenerali.com</a></p>
    </figure>
</body>


