---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: 
    - all 
    - projects
    - tagsList
    - postsByYear
    - sample
    - tutorial
  addAllPagesToCollections: true
permalink: '| /writing/#{tag}/'
layout: base.pug
---
include _mixins/tags
include _mixins/writing
- const tagMap = {javascript: 'JavaScript'}

+tags(collections.tagsList, true, tag)
ul.writing
  span.writing__block-header=tagMap[tag] || tag.charAt(0).toUpperCase() + tag.slice(1)
  each post in collections[tag]
    +post(post, true)