---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter: 
    - all 
    - projects
    - tagsList
    - postsByYear
    - sample
    - tutorial
  addAllPagesToCollections: true
permalink: /writing/{{ tag }}/index.html
title: Writing
isTagsPage: true
---

{% include 'partials/tags.njk' %}
<ul class="writing">
  <span class="writing__block-header">{{ tag | formatTag }}</span>
  {% for post in collections[tag] %}
    <li class="writing__item">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <span class="writing__item-year">{{ post.date | formatDate }}</span>
      <div class="writing__tag-collection">
        {% for tag in post.data.tags %}
          <span class="category-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>