---
layout: base.njk

pagination:
  data: writingTags
  size: 1
  alias: currentPageTag

title: Writing

permalink: /writing/{{ currentPageTag }}/index.html
---
{% set isMainPage = currentPageTag === "/" %}

{% macro tagElement(text, url) %}
  <a
    href="{{ url }}"
    class="tag
      bg-indigo-400 text-white text-xs text-center px-2 py-1 rounded
      hover:bg-indigo-600">{{ text }}</a>
{% endmacro %}

{% macro postLink(post) %}
<a
  class='post-link block rounded
  pl-4 pr-4 py-2 mb-4
  transition duration-200
  hover:bg-gray-200'
  href='{{post.url}}'>
  <p class='font-semibold'>{{ post.data.title }}</p>
  <p class='mt-1 text-sm font-light'>{{ post.data.date | formatDate('MMMM D, YYYY') }}</p>
  <ul
    class="flex text-gray-600 text-xs mt-1 md:ml-auto sm:justify-end sm:text-right">
    {% if not post.data.published %}
      <li class='mr-2 sm:ml-2 sm:mr-0'><strong>DRAFT</strong></li>
    {% endif %}
    {% for postTag in post.data.tags %}
      {% if postTag !== 'writing' %}
        <li class='mr-2 sm:ml-2 sm:mr-0'>{{ postTag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</a>
{% endmacro %}

<section>
  <p class="text-xl font-bold mb-4">Sort by Tag</p>
  <div class="grid gap-2" style='grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));'>
    {% if not isMainPage %}
      {{ tagElement('all posts', '/writing') }}
    {% endif %}
    {% for tag in writingTags %}
      {# Only show tags for pages the page you are not one #}
      {# Also do not show tag for homepage #}
      {% if currentPageTag !== tag and tag !== '/' %}
        {{ tagElement(tag, "/writing/" + tag) }}
      {% endif  %}
    {% endfor %}
  </div>
</section>
<section class="mt-20">
  {% set postToLoopThrough = 'writing' if isMainPage else currentPageTag %}

  {# Get all of the posts for the current page #}
  {% set posts = collections[postToLoopThrough] | reverse | publishedPosts %}

  {% if isMainPage %}
    {# Get the year of the latest post #}
    {% set year = posts[0].data.date | formatDate('YYYY') %}

    {# Write down the year of the latest post #}
    {% year year %}
    {% for post in posts %}
      {# Get the year of currently looped post #}
      {% set currentYear = post.data.date | formatDate('YYYY') %}

      {# If current post was published in current loop year #}
      {# do not put down the year! If it wasn't change the  #}
      {# current loop year to the current post year and change #}
      {# the current loop year! #}

      {# We know that the first loop will NOT post a year #}
      {# it will always be the year we are in. #}
      {% if currentYear !== year %}
        {% year currentYear %}
        {% set year = currentYear %}
      {% endif %}
      {{ postLink(post) }}
    {% endfor %}
  {% else %}
    {% year currentPageTag | formatTag %}
    {% for post in posts %}
      {{ postLink(post) }}
    {% endfor %}
  {% endif %}
</section>
