<section class="tags">
  <p class="tags__sort">Sort by tag</p>
  <div class="tags_collections">
    {% if isTagsPage %}
      <a href="/writing" class="category-tag category-tag__link">all posts</a>
    {% endif %}
    {% for tagInTaglist in collections.tagsList %}
      {% if tagInTaglist !== tag %}
        <a href="/writing/{{ tagInTaglist }}" class="category-tag category-tag__link">{{ tagInTaglist }}</a>
      {% endif  %}
    {% endfor %}
  </div>
</section>