head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="description", content="Leo Generali is a Full Stack Developer in Ann Arbor, Michigan. He creates thoughtfully designed web apps with JavaScript, Rails, and PHP.")
  link(rel="stylesheet", href=`/assets/dist/${assets['App']['css']}`)
  link(rel="icon" type="image/ico" href="/favicon.ico")
  title=pageTitle ? `${pageTitle} | ${metadata['title']}` : metadata['title']